<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAc8QFXH3HdpuS1X4G6M8O9DOu82_jcO2MjQ&s"
            alt="Imagem do Artigo" height="200px" srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, distinctio tenetur aperiam atque
        expedita a harum numquam nam ratione consequuntur illo repellendus est aspernatur, quod laborum debitis!
        Fugiat, tenetur deleniti</a></p>
    </div>
</div>