<div class="container__small-card">

    <div class="container__small-card-content">

        <div class="small-card__photo">
            <img 
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHM81szrSgPq-kYn2wO5rKerTktsT_ZCoZhA&s"
                alt="Imagem do Artigo" 
                height="" 
                srcset=""
            >
        </div>

        <div class="small-card__title">
            <h2><a href="#">Saiu a nova versão do Angular</a></h2>
        </div>

    </div>

    <div class="container__small-card__separator">
        <hr>
    </div>

</div>

